target/
node_modules/
package-lock.json
dist/
*.bak
.bloop/
.bsp/
.metals/
version.sbt
example
.env

# LLM specific rules folder
.vscode
.cursor
.cursorrules
.idea
.claude
.windsurfrules
.github/copilot-instructions.md
.clinerules
.claude.md
.claude.json
.agents
AGENTS.md
CLAUDE.md
opencode.json